@page "/"
@inherits LiveStreamListBase

<h3>Live Streams</h3>
<div>

</div>

<table class="table table-striped">
    <tr>
        <th>
            Notification Connetion Status:
        </th>
        <td>
            <font color="@NotificationServerConnectionStatusColor">@NotificationServerConnectionStatus</font>
        </td>
    </tr>
    <tr>
        <th>
            Notification:
        </th>
        <td>
            @NotificationMsg
        </td>
    </tr>
    <tr>
        <th>
            Media Database Connetion Status:
        </th>
        <td>
            <font color="@NotificationServerConnectionStatusColor">@NotificationServerConnectionStatus</font>
        </td>
    </tr>
    <tr>
        <th>
            Database Notification:
        </th>
        <td>
            @MediaDbNotificationMsg
        </td>
    </tr>


</table>


@if (LiveStreams == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Source</th>
            <th>Date Published</th>
        </tr>
        @foreach (var livestream in LiveStreams)
        {
            <tr>
                <td>@livestream.Id</td>
                <td>@livestream.Title</td>
                <td>@livestream.Description</td>
                <td>@livestream.Url</td>
                <td>@livestream.DatePublished</td>
            </tr>
        }
    </table>

}
<button class="btn btn-primary" @onclick="() => LiveStreamModalCreateEdit.Open()">Add New Stream</button>
<a>@Timetaken</a>

<LiveStreamModalCreateEdit OnCloseModal="@OnCloseModalCallback" @ref="LiveStreamModalCreateEdit" ModalTitle="Add Live Stream"></LiveStreamModalCreateEdit>
