@page "/"
@inherits LiveStreamListBase

<h3>Live Streams</h3>
<button class="btn btn-primary" @onclick="@ConnectToServer" disabled="@isConnected">Connect</button>
<table>
    <tr>
        <th>Connection Status:</th>
        <td>@connectionStatus</td>

        <th>Messages:</th>

        @foreach (var msg in notifications)
        {
            <td>@msg</td>
        }
    </tr>
</table>

<h4></h4>

<div>

</div>

@if (LiveStreams == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Source</th>
        </tr>
        @foreach (var livestream in LiveStreams)
        {
            <tr>
                <td>@livestream.Id</td>
                <td>@livestream.Title</td>
                <td>@livestream.Description</td>
                <td>@livestream.Url</td>
            </tr>
        }
    </table>

}

@if (AddStreamApprear == true)
{
    <button class="btn btn-danger" @onclick="@AddNewStream">Cancel</button>

    <AddStream></AddStream>

}
else
{
    <button class="btn btn-primary" @onclick="@AddNewStream">Add New Stream</button>
}