@inherits LiveStreamModalCreateEditBase



<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay"  aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@ModalTitle</h3>
                <button type="button" class="close" @onclick="@Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                @*<-- --> Video PLayer </-->*@
                <video id="myVideo" ></video>
                <EditForm Model="@liveStream" OnValidSubmit="@SubmitLiveStream">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label>Title</label>
                        <InputText class="form-control" @bind-Value="liveStream.Title" placeholder="Title of stream" />
                        <ValidationMessage For="@(()=>liveStream.Title)" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <InputTextArea class="form-control" @bind-Value="liveStream.Description" placeholder="Description" />
                        <ValidationMessage For="@(() => liveStream.Description)" />
                    </div>
                    <div class="form-group">
                        <label>RTMP Url</label>
                        <div class="input-group mb-3">
                            <input class="form-control" id="StreamUrl" value="@StreamUrl" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @onclick="@(e => CopyToClipboard(e, "StreamUrl"))">Copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Stream Key</label>
                        <small class="form-text text-muted">Stream key is dynamic.</small>
                        <div class="input-group">
                            <input class="form-control" id="StreamKey"  value="@StreamKey"  @oninput="@UpdateStreamUrl"/>
                            <div class="form-group input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @onclick="@(e => CopyToClipboard(e, "StreamKey"))">Copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Live Stream Url</label>
                        <small class="form-text text-muted">After it's published</small>
                        <div class="input-group">
                            <InputText class="form-control" id="@liveStream.Url" @bind-Value="liveStream.Url" readonly />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @onclick="@(e => CopyToClipboard(e, liveStream.Url))">Copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-block btn-info" type="submit">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

