@page "/"

<div class="container">
    <div class="row">
        <h3>@Title</h3>
    </div>
    <div>
        <div class="row">
            <h4>Status</h4>
            <table class="table">
                @*<-- --> Satus </-->*@
                <tr>
                    <th>
                        Notification Connection Status:
                    </th>
                    <td>
                        <font color="@NotificationServerConnectionStatusColor">@NotificationServerConnectionStatus</font>
                    </td>
                </tr>
                <tr>
                    <th>
                        Notification:
                    </th>
                    <td>
                        @NotificationMsg
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <div class="col-md-8">
                @*<-- --> Live Stream Form </-->*@
                <div>
                    @*<-- --> Video PLayer </-->*@
                    @if (broadcastState == BroadcastState.Live)
                    {
                        <div>
                            <font color=red>Live Now</font>
                        </div>

                    }
                    @if (broadcastState == BroadcastState.Ended)
                    {
                        <div>
                            <font>Recorded</font>

                            <video width="100%" id="vidSave" controls></video>
                        </div>
                        <button id="Download" @onclick="@DownloadVideo">Download</button>
                    }

                    @if (broadcastState == BroadcastState.Preview || broadcastState == BroadcastState.Live)
                    {
                        <video width="100%" id="vidInput" muted>
                            <source id="video_source" />
                        </video>
                    }

                </div>

                <div>
                    @*<-- --> Form</-->*@
                    @if (broadcastState == BroadcastState.Live)
                    {
                        <div>
                            <button class="btn btn-block btn-outline-secondary" @onclick="@EndStreamAsync">End Live</button>
                        </div>
                    }


                    <EditForm Model="@liveStream" OnValidSubmit="@SubmitLiveStream">

                        @if (broadcastState == BroadcastState.Preview)
                        {

                            <div>
                                <button class="btn btn-block btn-info" type="submit">Go Live</button>
                            </div>

                        }
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <label>Title</label>
                            <InputText class="form-control" @bind-Value="liveStream.Title" placeholder="Title of stream" disabled="@IsDisabled" />
                            <ValidationMessage For="@(() => liveStream.Title)" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <InputTextArea class="form-control" @bind-Value="liveStream.Description" placeholder="Description" disabled="@IsDisabled" />
                            <ValidationMessage For="@(() => liveStream.Description)" />
                        </div>
                        <div class="form-group">
                            <label>RTMP Url</label>
                            <div class="input-group mb-3">
                                <InputText class="form-control" id="StreamUrl" @bind-Value="liveStream.Url" disabled="@IsDisabled" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" @onclick="@(e => CopyToClipboard(e, "StreamUrl"))">Copy</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Stream Key</label>
                            <small class="form-text text-muted">Stream key is dynamic.</small>
                            <div class="input-group">
                                <InputText class="form-control" id="StreamKey" @bind-Value="liveStream.StreamKey" @oninput="@UpdateStreamUrl" disabled="@IsDisabled" />
                                <div class="form-group input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" @onclick="@(e => CopyToClipboard(e, "StreamKey"))">Copy</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Live Stream Url</label>
                            <small class="form-text text-muted">After it's published</small>
                            <div class="input-group">
                                <InputText class="form-control" id="@liveStream.Url" @bind-Value="liveStream.Url" readonly />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" @onclick="@(e => CopyToClipboard(e, liveStream.Url))">Copy</button>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>

            <div class="col-md-4">

                <a>chat box </a>
            </div>
        </div>
    </div>
</div>



@code {
    public static readonly string TAG = "StartLiveStream: ";

    //Connnections
    public static readonly HttpConnectionAttributes STREAMSERVER = StreamConnectionManager.STREAMSERVER;
    public static readonly HttpConnectionAttributes NOTIFICATIONSERVER = StreamConnectionManager.NOTIFICATIONSERVER;

    public readonly string INGESTURL = $"rtmp://{STREAMSERVER.HostIP}/{STREAMSERVER.Route}";

    //Page State
    public BroadcastState broadcastState { get; set; } = BroadcastState.Preview;

    //Tools
    [Inject]
    protected HttpClient Http { get; set; }
    [Inject]
    protected IJSRuntime JSRuntime { get; set; }
    protected HubConnection notificationServerConnection { get; set; } = null;

    //Page Attributes
    public string Title = "LiveStream";
    public LiveStream liveStream = new LiveStream();
    public string NotificationMsg { get; set; } = string.Empty;
    public string NotificationServerConnectionStatus { get; set; } = "Not Connected";

    public string BlobURL = "";

    public bool firstRenderAfterEnded = true;

    //UI_Logic
    protected bool IsDisabled { get; set; } = false;

    //UI Attributes
    public string NotificationServerConnectionStatusColor = "red";

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(TAG + "OnInitializedAsync: " + STREAMSERVER.GetURL());
        Console.WriteLine(TAG + "OnInitializedAsync: " + NOTIFICATIONSERVER.GetURL());

        await ConnectToNotificationServerAsync();
        await base.OnInitializedAsync();
        liveStream.StreamKey = Guid.NewGuid().ToString();
        liveStream.Url = $"https://{STREAMSERVER.HostIP}:{STREAMSERVER.Port}/hls/{liveStream.StreamKey}.m3u8";
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await JSRuntime.InvokeVoidAsync("videoplayer.previewPlayer", "previewPlayer");
            await JSRuntime.InvokeVoidAsync("oninitstartlivestreampage");
            StateHasChanged();
        }

        if (broadcastState == BroadcastState.Ended && firstRenderAfterEnded)
        {
            await LoadRecordedeVideoAsync();
            firstRenderAfterEnded = false;
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    protected async Task GetMessageAsync()
    {
        await JSRuntime.InvokeVoidAsync("startlivestream");
    }

    protected async Task SubmitLiveStream()
    {

        broadcastState = BroadcastState.Live;
        IsDisabled = true;
        liveStream.DatePublished = DateTime.UtcNow.ToLocalTime().ToString();
        await JSRuntime.InvokeVoidAsync("startlivestream");
        var response = await Http.PostJsonAsync<LiveStream>("https://localhost:5001/api/livestreams", liveStream);
        Debug.WriteLine(response.ToString());
        StateHasChanged();

    }
    protected async Task EndStreamAsync()
    {
        broadcastState = BroadcastState.Ended;
        await JSRuntime.InvokeVoidAsync("stoplivestream");
        await Http.PostAsync("https://localhost:5001/api/notification?msg=The stream has ended", null);
    }

    protected async Task LoadRecordedeVideoAsync()
    {
        BlobURL = await JSRuntime.InvokeAsync<string>("getrecordingurl");
        Debug.WriteLine(TAG + "LoadRecordedeVideoAsync: " + BlobURL);
    }

    protected async void Load()
    {
        await JSRuntime.InvokeVoidAsync("loadPlayer", "previewPlayer", liveStream.Url);
    }

    protected async Task CopyToClipboard(MouseEventArgs e, string id)
    {
        await JSRuntime.InvokeVoidAsync("copyToClipboard", id);
        //await JSRuntime.InvokeVoidAsync("createAlert","Copied to clipboard");
    }

    protected void UpdateStreamUrl(ChangeEventArgs args)
    {
        liveStream.StreamKey = args.Value.ToString();
        liveStream.Url = $"https://{STREAMSERVER.HostIP}:{STREAMSERVER.Port}/hls/{liveStream.StreamKey}.m3u8";
        StateHasChanged();
    }

    protected void OnNotificationServerConnectedUI()
    {
        NotificationServerConnectionStatus = "Connected";
        NotificationServerConnectionStatusColor = "green";
        NotificationMsg = DateTime.UtcNow.ToLocalTime().ToString() + ":  Connected";
    }

    protected void OnNotificationServerDisconnectedUI()
    {
        NotificationServerConnectionStatus = "Disconnected";
        NotificationServerConnectionStatusColor = "red";
        NotificationMsg = DateTime.UtcNow.ToLocalTime().ToString() + ":  Disconnected";
    }

    protected async Task ConnectToNotificationServerAsync()
    {
        notificationServerConnection = new HubConnectionBuilder().WithUrl(NOTIFICATIONSERVER.GetURL()).Build();

        await notificationServerConnection.StartAsync();
        OnNotificationServerConnectedUI();

        notificationServerConnection.Closed += async (s) =>
        {
            await notificationServerConnection.StartAsync();
            OnNotificationServerDisconnectedUI();
        };

        notificationServerConnection.On<string>("notification", msg =>
        {
            NotificationMsg = DateTime.UtcNow.ToLocalTime().ToString() + ":  " + msg;
            StateHasChanged();
        });
    }

    protected async Task DownloadVideo()
    {
        Debug.WriteLine(TAG + "DownloadVideo: Downloading");
        await JSRuntime.InvokeVoidAsync("download", BlobURL, $"{liveStream.Title}_{liveStream.StreamKey}.mp4");
    }

    [JSInvokable]
    public static Task<byte[]> OnLiveStreamDataAvailable()
    {

        var data = Task.FromResult(new byte[1000]);

        Debug.WriteLine(TAG + "OnLiveStreamDataAvailable: ");
        return data;
    }

    [JSInvokable]
    public static async Task RecordedData()
    {
        var data = await Task.FromResult(new byte[0]);
        Debug.WriteLine("From RecordedData: " + data.GetType());
        Debug.WriteLine("From RecordedData: " + data.Length);
    }
}
